/*
Think Tank for Obsidian

Designed to be used with Style Settings plugin.
MIT License. Copyright 2026 Cory Bissett (@corybiscuit).
*/
@charset "UTF-8";

/* 
Key Fixes

Essential theme fixes such as callout icon centering, etc.
*/
.callout-title {
  align-items: center;
}
.callout-fold,
.callout-icon {
  margin-top: unset;
  align-self: unset;
}


/* Folder Highlights */
:root {
    --color-folder-coral: #f79b9b;
    --color-folder-sage: #96C979;
    --color-folder-gold: #F5C05C;
    --color-folder-sky-blue: #8DBEDD;
    --color-folder-periwinkle: #B8A0EE;
}

.theme-light {
    --color-folder-text: #2e3440df;
    --color-left-border: #2e344020;
    --color-hover-file #00000013;
}

.theme-dark {
    --color-folder-text: #2e3440e9;
    --color-left-border: #2e344032;
    --color-hover-file: #00000013;
}

/* Icon & Text color for all folders */
.nav-folder .is-collapsed .collapse-icon svg.svg-icon,
.nav-folder .collapse-icon svg.svg-icon,
.nav-folder .nav-folder-title,
.nav-folder .nav-file-title {
    color: var(--color-folder-text) !important;
}

/* Left borders for subfolders */

.nav-folder .nav-folder-children {
    border-left: 2px solid var(--color-left-border) !important;
}

/* Rounding for all folders */

.nav-folder {
    border-radius: 6px !important;
    margin-bottom: 6px; 
}

/* Hover color */

.nav-file-title:hover,
.nav-file-title.is-active,
.nav-folder-title:hover,
.nav-folder-title.is-active {
    background-color: var(--color-hover-file) !important;
}

/* Colors for my folders */

.nav-folder:has(div[data-path^="+"]) {
    background-color: var(--color-folder-coral) !important;
}

.nav-folder:has(div[data-path^="Atlas"]) {
    background-color: var(--color-folder-sage) !important;
}

.nav-folder:has(div[data-path^="Calendar"]) {
    background-color: var(--color-folder-gold) !important;
}

.nav-folder:has(div[data-path^="Efforts"]) {
    background-color: var(--color-folder-sky-blue) !important;
}

.nav-folder:has(div[data-path^="X"]) {
    background-color: var(--color-folder-periwinkle) !important;
